---
BasedOnStyle: Mozilla
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: 'true'
AlignEscapedNewlines: Left
BreakConstructorInitializers: BeforeComma
ColumnLimit: '100'
CompactNamespaces: 'false'
IndentWidth: '4'
TabWidth: '4'
UseTab: Always
DerivePointerAlignment: false
PointerAlignment: Left
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None

...
